.slider {
    margin: 50px;
    height: 500px;
    width: 1000px;
    box-shadow: 0 0 30px lightcoral;
}

.slider ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 10000%;
}

.slider ul li img {
    height: 500px;
    width: 1000px;
}